// ////////////////////////// My about page sass ///////////////////

.greeting-gradient {
    h3 {
      @include animation('text-grediant 3.5s infinite');
    }
}

.thumbnail-image {
  .div-right{
    background-image: url("../assets/images/profile_vr.png");
    background-size: contain;
    padding-left:0px;
    margin-left:16px;
    background-repeat: no-repeat;
  }
  img {
    @include animation('fadeIn 0.35s forwards');
  }
  &:hover {
    img {
      @include animation('fadeOut 0.35s forwards');
    }
  }
}

// ////////////////////////// my journey section  ///////////////////
.project-expriences {
  overflow-y: hidden;
    h3 {
        margin-top:24px;
    }
}

.experience-pdf {
  background-color: $color-primary;
  border-radius: $border-radius-16;
  box-shadow: $item-shadow-20;
  background-color: $color-white;
  text-align: center;
  p, b, strong, a {
    color:$color-black;
  }
  p {
    padding:24px;
  }
  a {
    font-size: 18px;
  }
}

// ////////////////////////// right containing work information ///////////////////
.experience-container {
    padding-left: 48px;
    border-left: 1px solid $color-grey2;

    @include xsmall {
        padding-left: 32px;
    }

    .experience-year {
        color:$color-primary;
    }

    .experience-dot {
        width:16px;
        height: 16px;
        background-color: $color-white;
        border-radius: $border-radius-16;
        box-shadow: $item-shadow-20;
        position: absolute;
        margin-left: -56px;

        @include xsmall {
            margin-left: -44px;
        }
    }

    .experience-company {
        color:$color-black;
    }
    .experience-pdf {
        li, p {
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }
}

// ////////////////////////// left containing education information ///////////////////

.study-container {
    @include smallB {
        text-align: right;
        padding-right: 48px;
        position: relative;
    }

    @include smallS {
        border-bottom: 1px solid $color-grey2;
        margin-bottom: 40px;
    }

    .experience-dot {
        width:16px;
        height: 16px;
        background-color: $color-white;
        border-radius: $border-radius-16;
        box-shadow: $item-shadow-20;
        position: absolute;
        margin-left: calc(100% - 8px);

        @include xsmall {
            display: none;
        }
    }

    .experience-year {
        color:$color-primary
    }

    .experience-master {
        @include smallB {
        margin-top:760px;
        }
    }

    .experience-undergrad {
        @include smallB {
            position:absolute;
            bottom: 30px;
            padding-right:48px;
        }
        padding-right: 32px;
    }
}
