
.main-intro {
  max-width: $max-layout-width;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

/////////////////////// top device animation part ////////////////////
.device-animation{
  position: absolute;
  right:$project-each-width;

  @include xlarge {
    left:calc(#{$container-wrapper-width}/2 + #{$project-each-width}/2);
  }

  @include mediumS {
    opacity: 0.7;
    right:calc(#{$project-each-width} /1.6);;
  }
}

.device-animation-shadow {
  position: absolute;
  filter: blur(1.0rem);
  z-index: -1;
}

.device-animation-iphone{
  width:calc(#{$project-each-width} /2.2);
  position: absolute;
  top:-8vh;
  animation: 10s ease infinite device-move;

  @include mediumS {
    top: -5vh;
  }
}

.device-animation-ipad{
  width:calc(#{$project-each-width} /1.3);
  position: absolute;
  top:5vh;
  animation: 15s ease infinite device-move;

  @include mediumS {
    top: 2vh;
  }

  .device-animation-shadow {
    top:4vh;
    left:10%;
    width: 80%;
  }
}

.device-animation-mac{
  width:calc(#{$project-each-width});
  position: absolute;
  top:25vh;
  animation: 19s ease infinite device-move;

  @include mediumS {
    top: 13vh;
  }

  .device-animation-shadow {
    top:16vh;
    left:5%;
    width: 80%;

    @include mediumS {
      top: 9vh;
    }
  }

}


/////////////////////// top designer intro section ////////////////////
.designer-intro {
    max-height: auto;
    font-weight: 400;
    position: relative;

    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

    .main-intro-title {
      padding:40px 0px 80px 0px;
      font-size: 40px;
      @include animation('text-grediant 3.5s infinite');

    h1 {
      text-transform: uppercase;
      font-size: 800;
    font-weight: 700;
    }


    @include small {
        font-size: 56px;
    }
    @include xsmall {
        font-size: 48px;
    }
    }
}


// /////////////////////////////// Main page PLAY SECTION ///////////////////////////////
.main-intro-play-container {
    display: flex;
    padding:32px 0px;
    align-items: center;

    span {
        padding-right:64px;
        color:$color-grey4;

        @include smallS {
            padding-right: none;
        }
    }

    @include smallS {
        display: block;
    }
}
.main-intro-play-title {
    padding:0px 32px;
    margin-right: 24px;
    @include smallS {
        width:190px;
        padding:4px 24px;
        margin-bottom: 16px;
    }
  h3 {
    @include animation('text-grediant 3.5s infinite');
    @include smallS {
        margin-left:50%;
        transform:translateX(-50%);
    }
  }
}

//////////////
//////////////
//////////////
//////////////
//////////////
//////////////
//////////////
////////////////////////////
//////////////
//////////////
//////////////

// /////////////////////////////// Main page project card ///////////////////////////////

.project-content-layout {
  max-width: $project-content-width;
  margin-left: auto;
  margin-right: auto;


  // /////////////////////////////// paragrahes spaces ///////////////////////////////
  h2, h3, h4 {
    margin: 14% 0 3% 0;
  }

  .project-component-title {
      width: 100%;
    // text-align: center;
    // padding: 48px 0px;
    margin-top:120px;
  }
}

.projectPanel {
  width:100%;
  @include flex-box-setup;
  justify-content: space-between;

  .single-proj-container {
      @include smallS {
          width:100%;
      }
  }

.single-proj-container{
      margin-bottom: 32px;
  }

 // ///////////////////  Adding wide-card css to the portfolioStore will make the card longer than the rest ///////////////////
.wide-card {
  .projectItem {
    width:100%;

    @include smallB {
      display: flex;
      align-items: center;

      .projectLogo {
        width:60%;
      }

      .projectTitle {
        width:40%;
        position:static;
        text-align: left;
        left:auto;
        transform: none;
        bottom: auto;
        padding: 36px;

        h3 {
            margin:auto;
            opacity: 1;
        }
        h4{
            padding: 0;
            width: auto;
            font-weight: 400;
            margin-bottom: 24px;
            @include medium {
                font-size: 16px;
                line-height: 24px;
            }

            @include xsmall {
                font-size: 16px;
                line-height: 24px;
            }
        }
        p {
            opacity: 1
        }
      }
    }
  }
}
}

.projectItem {
  border-radius: $border-radius-16;
  box-shadow: $item-shadow-20;
  background-color: $color-white;
  width:$project-each-width;
  height:$project-each-width;
  position: relative;
  overflow: hidden;

  @include largeS {
      width:$project-each-width-medium;
      height:$project-each-width-medium;
  }

  @media only screen and (max-width: 1279px) and (min-width: 1229px) {
    width: $project-each-width-large;
    height: $project-each-width-large;
  }

  // media size
  @include smallS {
      justify-content: center;
      display: flex;
      width: $project-each-width-small;
      height: $project-each-height-small;
  }

  @include xsmall {
      width: $project-each-width-small;
      height: calc(85vw);
      padding-left:auto;
      padding-right:auto;
  }
  .projectLogo {
    object-fit: contain;
    max-height: 80%;
      @include animation('image-hover-out 0.5s forwards');
  }

  .projectTitle {
    position: absolute;
    color:$color-white;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    bottom: -32px;
    padding: 0px 24px;

    h3 {
        margin:0px;
        opacity: 0
    }
    h4{
        padding: 16px 24px;
        width: 100%;
        font-weight: 400;
        margin-bottom: 0px;
        @include mediumS {
          font-weight: 600;
            font-size: 16px;
            line-height: 21px;
        }

        @include xsmall {
          padding:0px 0px 16px 0px;
        }
    }

    p {
        margin:0px;
        color:$color-grey4;
        opacity: 0
    }
  }

  // projectItem hover
  &:hover {

    img {
    @include animation('image-hover 0.35s forwards');
  }
  .projectTitle {
       @include animation ('title-up 0.35s forwards')
  }
  .projectTitle h3, .projectTitle p {
    @include animation('fadeIn 0.35s forwards');
  }
  h4 {
      width:100%;
      margin-left: 0px;
  }

  }

}
