.nav {
  display: block;
  width:$nav-width;
  position: fixed;

  .nav-content {
   @include center-align-page-vertical;
   transform:translateY(-65%);
   padding:15px;
   border-right:1px solid $color-grey2;
  //  box-shadow: 5px 0px 5px #888888;
  }

  * {
    width:100%;
    margin-bottom: 20px;
  }

  i {
    font-size: $iconMedium;
    display: block;
  }

  @include xsmall {
    display: none;
  }
}
