.nav {
  display: block;
  width:$nav-width;
  position: fixed;

  @include smallS {
    width:100vw;
    z-index: 99;
    background-color: $color-white;
    height: 60px;
    top:0px;
    left:0px;
  }

  .nav-content {
  @include smallB {
    @include center-align-page-vertical;
    transform:translateY(-65%);
    padding:15px;
    border-right:1px solid $color-grey2;
  }
  //  box-shadow: 5px 0px 5px #888888;

  @include smallS {
    display: flex;
  }
  }

  * {
    width:100%;
    margin-bottom: 20px;
  }

  i {
    font-size: $iconMedium;
    display: block;
  }

  .nav-logo {
      width: 80%;
      margin-top: -15px;

      @include smallS {
          height: 40px;
          margin-top:8px;
      }
  }
}
