.nav {
  display: block;
  width:$nav-width;
  border-left:1px solid black;

  * {
    width:100%;
  }

  i {
    font-size: $iconMedium;
    display: block;
  }

  @include xsmall {
    display: none;
  }
}
