////////////////////////////// Individual Project
// /////////////////////////////// Individual Project Title ///////////////////////////////
.project-title-layout {
  margin-top: 48px;
  background-size: contain;
  @include smallS {
    height: auto;
  }

  .project-title-bg {
    width: 100%;
    opacity: 0.5;
  }

  .project-title-text {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 48px 0;

    .project-title-logo {
      width: 50%;
      max-height: 300px;
      min-height: 150px;
      object-fit: contain;
      padding-bottom: 32px;
    }

    h2 {
      margin: 0;
      color: $color-white;
    }
  }
}

.project-footer {
    padding-bottom: 48px;
    p {
        margin-bottom: 0px;
        margin-top:36px;
    }

    i {
        font-size: 24px;
        padding: 0px 16px;
    }
}

.project-video169 {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;

  * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

//////////////////
/////////////////////////////// defines the split contents in each project ///////////////////////////////
// general css for the container css
@mixin project-container-css {
  width: 100%;
  display: flex;
  // div :first-of-type {
  //     padding-left:8px;
  // }
  // div :last-of-type {
  //     padding-right:8px;
  // }
  img {
    align-self: flex-start;
  }
  ol, p{
    align-self: center;
  }

  @include smallS {
    display: inline-block;
  }
}

.div-left {
  padding-right: 16px;
  @include smallS {
    padding-right: 0;
  }
}

.div-middle {
    padding: 0px 8px;
    @include smallS {
      padding-right: 0;
    }
}

.div-right {
  padding-left: 16px;
  @include smallS {
    padding-right: 0;
  }
}

// 1/2 1/2
.project-layout-half {
  @include project-container-css;

  .div-left,
  .div-right {
    width: 50%;
    @include smallS {
      width: 100%;
    }
  }
}
// 1/3 2/3
.project-layout-13 {
  @include project-container-css;

  .div-left {
    width: calc(100%/3);
  }

  .div-right {
    width: calc(100%/3 *2);
  }
  @include smallS {
    .div-left,
    .div-right {
      width: 100%;
    }
  }
}
// 2/3 1/3
.project-layout-23 {
  @include project-container-css;

  .div-left {
    width: calc(100%/3*2);
  }

  .div-right {
    width: calc(100%/3);
  }
  @include smallS {
    .div-left,
    .div-right {
      width: 100%;
    }
  }
}
// 1/3
.project-layout-third {
  @include project-container-css;

  .div-left, .div-middle, .div-right {
    width: calc(100%/3);
  }
  @include smallS {
    .div-left, .div-middle, .div-right {
      width: 100%;
    }
  }
}
// special width for divided divs
.project-layout-wide {
  @include max-width;
}
/////////////////
/////////////////
/////////////////
/////////////////
/////////////////
/////////////////

.project-title-hr {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  opacity: 0.3;
  @include max-width;
}


/////////////////////////////////// FRAMES for devices ///////////////////////////////////////////
.frame-desktop, .frame-laptop, .frame-phone, .frame-ipad {
  position:relative;
}
.frame-desktop {
    padding-bottom: 18%;
}
.frame-laptop {
  padding-bottom: 7%;

  // video in a laptop frame has different margin and padding-top
  .project-video169 {
      position: relative;
        width: 79% !important;
        padding-top:49.5%;
  }
  .project-video169 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 5% !important;
    bottom: 10%;
}
}

.frame-phone {
    padding-bottom: 14%;
// video in a phone frame has different ratio than 16:9
    .project-video169 {
        position: relative;
          width: 93% !important;
          height: 0;
          padding-bottom: 109.5%  !important;
            height: auto;
            margin-left: 3.5% !important;
    }
    .project-video169 iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0; top: 11% !important;
    }
}

.frame-ipad {
  padding-bottom: 8%;
  .project-video169 {
    padding-top: 65.25%;
  }
}

////////////////////////////////////// frame class
.frame-device-desktop, .frame-device-laptop, .frame-device-phone, .frame-device-ipad {
  position:absolute;
  z-index: 99;
}

.frame-device-ipad {
  top:-4.5%;
  pointer-events: none;
}

/////////////////////////// the img and video class
.device-desktop{
    width: 94.7%;
    margin-left: 2.6%;
    margin-top: 2.6%;
}

.device-laptop {
  width:79%;
  margin-left:10.5%;
  margin-top: 2.9%;
}
.device-phone {
    width: 92%;
    margin-top: 16%;
    margin-left: 4%;
}
.device-ipad {
  left: 3.1%;
    width: 93.7%;
}

/////////////////////////////////// get rid the 10px left and right for {myrole} in IntroRole.js ///////////////
.introRole-top span {
  padding: 0;
}
// /////////////////////////////// The findign div highlights the findings I have found from the researches, studies and tests.   ///////////////////////////////
.finding-div {
  padding: 24px;
  margin: 5% 0;
  line-height: 26px;

  b {
    font-size: 1.7em;
    text-transform: uppercase;
  }
}
////////// PERSONA STYLE, standard style for persona.    ////////
.section-persona {
  padding: 0 15px;
  text-align: left;

  li:first-of-type {
    font-weight: bold;
    padding-left: 0;
  }

  img {
    padding: 15px;
    width: 144px;
    height: 144px;
    display: block;
  }
}

.section-devices {
  img {
    width: 90px;
  }
}

.center-img {
  margin-left: 50%;
  transform: translateX(-50%);
}
///////////////////  Reflection div /////////////////
.project-reflections {
  p {
    padding-bottom: 8px;
  }
  padding-bottom: 72px;
}




// /////////////////////////////// Play section ///////////////////////////////
.play-section-up {
    margin-top: -14%;
}

// /////////////////////////////// 3D embed section ///////////////////////////////
.sketchfab-embed-wrapper {
  width: 100%;
 padding-top: 75%; /* 1:1 Aspect Ratio */
 position: relative;
  iframe{
    width:100%;
    height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }
}


/////////
/////////////////
/////////////////
/////////////////
/////////////////
/////////////////
/////////////////
// /////////////////////////////// PROJECT SPECIFIC CSS ///////////////////////////////

//////// PROJECT CYCNAV ///////

.cycnav-logo {
  background: url("../assets/images/proj_cycnav/cycnav_logo_w.svg") no-repeat right top;
  background-size: contain;
}

#iframe-brio {
  width: 100%;
  min-height: 340px;
  border: 0;
  height: calc(#{$project-content-width}/1.778);
  padding-top: 24px;
  @include max-width;
  @include smallS {
    height: 90vh;
  }
  @include largeB {
      height:calc(1280px / 1.778);
  }
}

//////// PROJECT FAIRTRADE ///////
.trade-video {
  .project-video169 {
    width:100%;
    height:calc(#{$project-content-width}/1.3) !important;
  }
}

//////// PLAY DME ///////
.dme-mascot {
    text-align: center;

    @include smallB {
        display: flex;
        align-items: flex-end;
    }
}

//////// PLAY THREED 3D / INTRO ///////
.3d-intro {
  font-size: 24px !important;
  p, ol {
    font-size: 24px !important;
  }
}
