.projectPanel {
  width:100%;
  @include flex-box-setup;
}

.projectItem {
  width:$project-each-width;
  height:$project-each-height;
  background-color: $color-white;
  margin:20px;
  position: relative;
  overflow: hidden;
  border-radius: 13px;

  // media size
  @include smallS {
      width: $project-each-width-small;
      height: $project-each-height-small;
  }

  @include xsmall {
      width: 85vw;
      height: calc(85vw / 1.5);
      padding-left:auto;
      padding-right:auto;
  }
  img {
    width:100%;
    height:auto;
    position: absolute;
    left:0px;
      @include animation('image-hover-out 0.5s forwards');
  }

  .projectTitle {
    @include center-align-absolute;
    opacity: 0;
    line-height: 0.6em;
    color:$color-black;
  }

  // projectItem hover
  &:hover {
    img {
    @include animation('image-hover 0.5s forwards');
  }

  .projectTitle {
    @include animation('fadeIn 0.5s forwards');
  }
  }

}
