@mixin flex-box-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 1;   /* do not shrink - initial value: 1 */
  flex-wrap: wrap;
}

@mixin center-align-absolute {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-align-page {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

@mixin center-align-page-vertical {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

@mixin center-align-content {
  text-align: center;
  div, img {
    margin-left: 50%;
    transform:translateX(-50%);
  }
}

@mixin max-width {
    @include mediumB {
        width:calc(100vw - 96px - 100px);
        margin-left:calc(-50vw + 380px + 100px);
        max-width:$project-max-width;
    }
    @include mediumS {
        width: 100%;
        margin-left:auto;
    }
}
