// navigation bar
$nav-width: 100px;

// container width for the main content
$container-wrapper-width: 1100px;

// main page project card width
$project-each-width: calc((100vw - 100px) / 2 - 80px);
$project-each-height: calc(((100vw - 100px) / 2 - 80px) / 1.5);
