// navigation bar
$nav-width: 100px;

// container width for the main content
$container-wrapper-width: 100%;

// main page project card width
$project-each-width: calc(((100vw - #{$nav-width}) - 96px - 64px )/ 2);
$project-each-height: calc(((100vw - #{$nav-width}) - 96px - 64px )/ 2);

$project-each-width-small: 100%;
$project-each-height-small: calc(85vw / 1.5);

$project-content-width:760px;
