$color-primary: #5C41B4;
$color-primary-light:#AC9DFF;
$color-accent: #21D9BB;
$color-blue: #64F6F0;

$color-white: #fff;

$color-grey1: #E9EBF0;
$color-grey2: #C9C9D2;
$color-grey3: #878794;
$color-grey4: #4C4C5A;

$color-black: #000000;

$color-transparent:rgba(0,0,0, 0);

$color-alert:#D93C3C;
$color-normal:#9FE600;
$color-warn:#FDEE35;
