$color-primary: #5C41B4;
$color-primary-light:#AC9DFF;
$color-accent: #21D9BB;
$color-blue: #64F6F0;

$color-white: #fff;

$color-grey1: #F8F5FF;
$color-grey2: #D9D9E8;
$color-grey3: #97A3B8;
$color-grey4: #68687D;

$color-black: #0B0C0F;

$color-transparent:rgba(0,0,0, 0);

$color-alert:#D93C3C;
$color-normal:#9FE600;
$color-warn:#FDEE35;
