@font-face {
  font-family: 'Areo-Icon-Font';
  src:
    url('../assets/icon-font/Areo-Icon-Font.ttf') format('truetype'),
    url('../assets/icon-font/Areo-Icon-Font.woff') format('woff'),
    url('../assets/icon-font/Areo-Icon-Font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$iconSmall:24px;

$iconMedium: 32px;

$iconLarge :48px;


i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Areo-Icon-Font', 'Source Sans Pro', sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  position:relative;
  top:17%;
  font-size: 24px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slider2:before {
  content: "\e900";
}
.icon-uplabs1:before {
  content: "\e901";
}
.icon-uplabs2:before {
  content: "\e902";
}
.icon-uplabs3:before {
  content: "\e903";
}
.icon-ambientLight:before {
  content: "\e904";
}
.icon-areaLight:before {
  content: "\e905";
}
.icon-background:before {
  content: "\e906";
}
.icon-behaviour:before {
  content: "\e907";
}
.icon-cone1:before {
  content: "\e908";
}
.icon-cylinder1:before {
  content: "\e909";
}
.icon-environment:before {
  content: "\e90a";
}
.icon-explode:before {
  content: "\e90b";
}
.icon-float:before {
  content: "\e90c";
}
.icon-gravity:before {
  content: "\e90d";
}
.icon-hdri:before {
  content: "\e90e";
}
.icon-knox:before {
  content: "\e90f";
}
.icon-plane:before {
  content: "\e910";
}
.icon-pointLight:before {
  content: "\e911";
}
.icon-shake:before {
  content: "\e912";
}
.icon-skybox:before {
  content: "\e913";
}
.icon-skydome:before {
  content: "\e914";
}
.icon-sound:before {
  content: "\e915";
}
.icon-spotlight:before {
  content: "\e916";
}
.icon-sunlight:before {
  content: "\e917";
}
.icon-teapot:before {
  content: "\e918";
}
.icon-teleport:before {
  content: "\e919";
}
.icon-torus:before {
  content: "\e91a";
}
.icon-tri1:before {
  content: "\e91b";
}
.icon-checkmark2:before {
  content: "\e91c";
}
.icon-checkmark3:before {
  content: "\e91d";
}
.icon-play3:before {
  content: "\e91e";
}
.icon-preview-camera:before {
  content: "\e91f";
}
.icon-setting-camera:before {
  content: "\e920";
}
.icon-upload-fail:before {
  content: "\e921";
}
.icon-ar:before {
  content: "\e922";
}
.icon-swap:before {
  content: "\e923";
}
.icon-ddu:before {
  content: "\e924";
}
.icon-dsbs:before {
  content: "\e925";
}
.icon-du:before {
  content: "\e926";
}
.icon-ad:before {
  content: "\e927";
}
.icon-add-lib:before {
  content: "\e928";
}
.icon-add-object:before {
  content: "\e929";
}
.icon-add:before {
  content: "\e92a";
}
.icon-add2:before {
  content: "\e92b";
}
.icon-adjust-grid:before {
  content: "\e92c";
}
.icon-alert:before {
  content: "\e92d";
}
.icon-alignCentre:before {
  content: "\e92e";
}
.icon-alignLeft:before {
  content: "\e92f";
}
.icon-alignRight:before {
  content: "\e930";
}
.icon-anchor:before {
  content: "\e931";
}
.icon-angle:before {
  content: "\e932";
}
.icon-animation:before {
  content: "\e933";
}
.icon-animation2:before {
  content: "\e934";
}
.icon-annotation:before {
  content: "\e935";
}
.icon-annotation2:before {
  content: "\e936";
}
.icon-anti_alias:before {
  content: "\e937";
}
.icon-architecture:before {
  content: "\e938";
}
.icon-architecture2:before {
  content: "\e939";
}
.icon-audio:before {
  content: "\e93a";
}
.icon-audioBG:before {
  content: "\e93b";
}
.icon-audioLocation:before {
  content: "\e93c";
}
.icon-audiovisual:before {
  content: "\e93d";
}
.icon-auto_1:before {
  content: "\e93e";
}
.icon-auto:before {
  content: "\e93f";
}
.icon-back:before {
  content: "\e940";
}
.icon-backpack:before {
  content: "\e941";
}
.icon-bad-face:before {
  content: "\e942";
}
.icon-bake:before {
  content: "\e943";
}
.icon-baked:before {
  content: "\e944";
}
.icon-bar-graph:before {
  content: "\e945";
}
.icon-behaviour-animation-parallel:before {
  content: "\e946";
}
.icon-behaviour-animation-parallel1:before {
  content: "\e947";
}
.icon-behaviour-animation-parallel2:before {
  content: "\e948";
}
.icon-behaviour-animation:before {
  content: "\e949";
}
.icon-behaviour-animtion-sequence:before {
  content: "\e94a";
}
.icon-behaviour-animtion-sequence1:before {
  content: "\e94b";
}
.icon-behaviour-divider1:before {
  content: "\e94c";
}
.icon-behaviour-divider2:before {
  content: "\e94d";
}
.icon-behaviour-object1:before {
  content: "\e94e";
  color: #fff;
}
.icon-behaviour-object2:before {
  content: "\e94f";
}
.icon-behaviour-trigger:before {
  content: "\e950";
}
.icon-bloom:before {
  content: "\e951";
}
.icon-bold:before {
  content: "\e952";
}
.icon-bronze-medal:before {
  content: "\e953";
}
.icon-building:before {
  content: "\e954";
}
.icon-building3:before {
  content: "\e955";
}
.icon-capsule:before {
  content: "\e956";
}
.icon-cardboard:before {
  content: "\e957";
}
.icon-chase:before {
  content: "\e958";
}
.icon-Checkmark:before {
  content: "\e959";
}
.icon-cinematic:before {
  content: "\e95a";
}
.icon-circle-plain:before {
  content: "\e95b";
}
.icon-circle:before {
  content: "\e95c";
}
.icon-circle2 .path1:before {
  content: "\e95d";
  color: rgb(203, 203, 203);
}
.icon-circle2 .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-circle2 .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-circle2 .path4:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-circle2 .path5:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-circle2 .path6:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-circle2 .path7:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-circle2 .path8:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-circle2 .path9:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-click:before {
  content: "\e966";
}
.icon-clone:before {
  content: "\e967";
}
.icon-close:before {
  content: "\e968";
}
.icon-close2:before {
  content: "\e969";
}
.icon-cloud:before {
  content: "\e96a";
}
.icon-cloudy:before {
  content: "\e96b";
}
.icon-collision:before {
  content: "\e96c";
}
.icon-color_correct:before {
  content: "\e96d";
}
.icon-color-picker:before {
  content: "\e96e";
}
.icon-comment-off:before {
  content: "\e96f";
}
.icon-comment:before {
  content: "\e970";
}
.icon-comment2:before {
  content: "\e971";
}
.icon-condense2:before {
  content: "\e972";
}
.icon-cone2 .path1:before {
  content: "\e973";
  color: rgb(255, 255, 255);
}
.icon-cone2 .path2:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-crystal:before {
  content: "\e975";
}
.icon-cube1:before {
  content: "\e976";
}
.icon-cube2 .path1:before {
  content: "\e977";
  color: rgb(203, 203, 203);
}
.icon-cube2 .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cube2 .path3:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-curve:before {
  content: "\e97a";
}
.icon-cylinder2 .path1:before {
  content: "\e97b";
  color: rgb(255, 255, 255);
}
.icon-cylinder2 .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-decal:before {
  content: "\e97d";
}
.icon-delete:before {
  content: "\e97e";
}
.icon-deliver:before {
  content: "\e97f";
}
.icon-desktop:before {
  content: "\e980";
}
.icon-discord1:before {
  content: "\e981";
}
.icon-discord2:before {
  content: "\e982";
}
.icon-discord3:before {
  content: "\e983";
}
.icon-dof:before {
  content: "\e984";
}
.icon-doubleTab:before {
  content: "\e985";
}
.icon-down2:before {
  content: "\e986";
}
.icon-download:before {
  content: "\e987";
}
.icon-drag:before {
  content: "\e988";
}
.icon-dragdrop:before {
  content: "\e989";
}
.icon-drop:before {
  content: "\e98a";
}
.icon-easy:before {
  content: "\e98b";
}
.icon-edit:before {
  content: "\e98c";
}
.icon-edu:before {
  content: "\e98d";
}
.icon-emoji:before {
  content: "\e98e";
}
.icon-eswag:before {
  content: "\e98f";
}
.icon-eswag1:before {
  content: "\e990";
}
.icon-exit:before {
  content: "\e991";
}
.icon-expand:before {
  content: "\e992";
}
.icon-expert:before {
  content: "\e993";
}
.icon-export:before {
  content: "\e994";
}
.icon-facebook1:before {
  content: "\e995";
}
.icon-facebook2:before {
  content: "\e996";
}
.icon-facebook3:before {
  content: "\e997";
}
.icon-fadein:before {
  content: "\e998";
}
.icon-fadeOut:before {
  content: "\e999";
}
.icon-favCamera:before {
  content: "\e99a";
}
.icon-favWp:before {
  content: "\e99b";
}
.icon-feedback:before {
  content: "\e99c";
}
.icon-figure:before {
  content: "\e99d";
}
.icon-file:before {
  content: "\e99e";
}
.icon-files:before {
  content: "\e99f";
}
.icon-filter:before {
  content: "\e9a0";
}
.icon-fog:before {
  content: "\e9a1";
}
.icon-follow:before {
  content: "\e9a2";
}
.icon-follower:before {
  content: "\e9a3";
}
.icon-force:before {
  content: "\e9a4";
}
.icon-fork:before {
  content: "\e9a5";
}
.icon-gear:before {
  content: "\e9a6";
}
.icon-gear2:before {
  content: "\e9a7";
}
.icon-global-black:before {
  content: "\e9a8";
}
.icon-gold-medal:before {
  content: "\e9a9";
}
.icon-google:before {
  content: "\e9aa";
}
.icon-google1:before {
  content: "\e9ab";
}
.icon-google2:before {
  content: "\e9ac";
}
.icon-google3:before {
  content: "\e9ad";
}
.icon-group:before {
  content: "\e9ae";
}
.icon-hand-swipe:before {
  content: "\e9af";
}
.icon-handheld:before {
  content: "\e9b0";
}
.icon-help:before {
  content: "\e9b1";
}
.icon-hitchcock:before {
  content: "\e9b2";
}
.icon-horizontalScale:before {
  content: "\e9b3";
}
.icon-hyperLink:before {
  content: "\e9b4";
}
.icon-iForgot:before {
  content: "\e9b5";
}
.icon-image:before {
  content: "\e9b6";
}
.icon-imagePano:before {
  content: "\e9b7";
}
.icon-indicator-right:before {
  content: "\e9b8";
}
.icon-insert-waypoint:before {
  content: "\e9b9";
}
.icon-insert-waypoint1:before {
  content: "\e9ba";
}
.icon-instagram1:before {
  content: "\e9bb";
}
.icon-instagram2:before {
  content: "\e9bc";
}
.icon-instagram3:before {
  content: "\e9bd";
}
.icon-inZone:before {
  content: "\e9be";
}
.icon-italic:before {
  content: "\e9bf";
}
.icon-itemList:before {
  content: "\e9c0";
}
.icon-knox2 .path1:before {
  content: "\e9c1";
  color: rgb(255, 255, 255);
}
.icon-knox2 .path2:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-knox2 .path3:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-knox2 .path4:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-knox2 .path5:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-knox2 .path6:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-knox2 .path7:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-laptop:before {
  content: "\e9c8";
}
.icon-layer-add:before {
  content: "\e9c9";
}
.icon-layer-swap:before {
  content: "\e9ca";
}
.icon-layer:before {
  content: "\e9cb";
}
.icon-left-click:before {
  content: "\e9cc";
}
.icon-left-lick:before {
  content: "\e9cd";
}
.icon-left:before {
  content: "\e9ce";
}
.icon-lifemeter:before {
  content: "\e9cf";
}
.icon-like-camera:before {
  content: "\e9d0";
}
.icon-like-waypoint:before {
  content: "\e9d1";
}
.icon-line-graph:before {
  content: "\e9d2";
}
.icon-lineHeight:before {
  content: "\e9d3";
}
.icon-linkedin1:before {
  content: "\e9d4";
}
.icon-linkedin2:before {
  content: "\e9d5";
}
.icon-linkedin3:before {
  content: "\e9d6";
}
.icon-local-black:before {
  content: "\e9d7";
}
.icon-location:before {
  content: "\e9d8";
}
.icon-locationCircle:before {
  content: "\e9d9";
}
.icon-lock:before {
  content: "\e9da";
}
.icon-lookAt:before {
  content: "\e9db";
}
.icon-loop1:before {
  content: "\e9dc";
}
.icon-loop2:before {
  content: "\e9dd";
}
.icon-mail:before {
  content: "\e9de";
}
.icon-medium1:before {
  content: "\e9df";
}
.icon-medium2:before {
  content: "\e9e0";
}
.icon-medium3:before {
  content: "\e9e1";
}
.icon-mirror:before {
  content: "\e9e2";
}
.icon-more:before {
  content: "\e9e3";
}
.icon-mouse-wheel:before {
  content: "\e9e4";
}
.icon-move:before {
  content: "\e9e5";
}
.icon-moveRotate:before {
  content: "\e9e6";
}
.icon-mylib-add:before {
  content: "\e9e7";
}
.icon-mylib-temp:before {
  content: "\e9e8";
}
.icon-new-waypoint_new-waypoint:before {
  content: "\e9e9";
}
.icon-newwaypoint:before {
  content: "\e9ea";
}
.icon-next:before {
  content: "\e9eb";
}
.icon-next2:before {
  content: "\e9ec";
}
.icon-novice:before {
  content: "\e9ed";
}
.icon-oculus-icon:before {
  content: "\e9ee";
}
.icon-oculus:before {
  content: "\e9ef";
}
.icon-orbit:before {
  content: "\e9f0";
}
.icon-out:before {
  content: "\e9f1";
}
.icon-panning:before {
  content: "\e9f2";
}
.icon-paperplane:before {
  content: "\e9f3";
}
.icon-particle:before {
  content: "\e9f4";
}
.icon-pause-play:before {
  content: "\e9f5";
}
.icon-pause:before {
  content: "\e9f6";
}
.icon-personView:before {
  content: "\e9f7";
}
.icon-perspective:before {
  content: "\e9f8";
}
.icon-phone:before {
  content: "\e9f9";
}
.icon-pickup:before {
  content: "\e9fa";
}
.icon-pie-graph:before {
  content: "\e9fb";
}
.icon-plane2 .path1:before {
  content: "\e9fc";
  color: rgb(255, 255, 255);
}
.icon-plane2 .path2:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-plane2 .path3:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-plane2 .path4:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-plane2 .path5:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-plane2 .path6:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-plane2 .path7:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-plane2 .path8:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-plane2 .path9:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play:before {
  content: "\ea05";
}
.icon-play2:before {
  content: "\ea06";
}
.icon-plug:before {
  content: "\ea07";
}
.icon-portal:before {
  content: "\ea08";
}
.icon-present:before {
  content: "\ea09";
}
.icon-presentation:before {
  content: "\ea0a";
}
.icon-presentOff:before {
  content: "\ea0b";
}
.icon-presentON:before {
  content: "\ea0c";
}
.icon-previous:before {
  content: "\ea0d";
}
.icon-previous2:before {
  content: "\ea0e";
}
.icon-productSC:before {
  content: "\ea0f";
}
.icon-Proximity:before {
  content: "\ea10";
}
.icon-psvr:before {
  content: "\ea11";
}
.icon-push:before {
  content: "\ea12";
}
.icon-question:before {
  content: "\ea13";
}
.icon-redo:before {
  content: "\ea14";
}
.icon-reflect-probe:before {
  content: "\ea15";
}
.icon-reflection:before {
  content: "\ea16";
}
.icon-remove-treasure:before {
  content: "\ea17";
}
.icon-repeat-button:before {
  content: "\ea18";
}
.icon-repeat:before {
  content: "\ea19";
}
.icon-replace-update:before {
  content: "\ea1a";
}
.icon-report:before {
  content: "\ea1b";
}
.icon-reposition:before {
  content: "\ea1c";
}
.icon-reset:before {
  content: "\ea1d";
}
.icon-righ-click:before {
  content: "\ea1e";
}
.icon-righg-click:before {
  content: "\ea1f";
}
.icon-right:before {
  content: "\ea20";
}
.icon-rotate:before {
  content: "\ea21";
}
.icon-save:before {
  content: "\ea22";
}
.icon-scale:before {
  content: "\ea23";
}
.icon-search:before {
  content: "\ea24";
}
.icon-shadowmap:before {
  content: "\ea25";
}
.icon-share:before {
  content: "\ea26";
}
.icon-ShareWMe:before {
  content: "\ea27";
}
.icon-sharp:before {
  content: "\ea28";
}
.icon-shopping-add:before {
  content: "\ea29";
}
.icon-shopping-num:before {
  content: "\ea2a";
}
.icon-shoppingCart:before {
  content: "\ea2b";
}
.icon-shutDown:before {
  content: "\ea2c";
}
.icon-silver-medal:before {
  content: "\ea2d";
}
.icon-skull:before {
  content: "\ea2e";
}
.icon-slack1:before {
  content: "\ea2f";
}
.icon-slack2:before {
  content: "\ea30";
}
.icon-slidePath:before {
  content: "\ea31";
}
.icon-slider:before {
  content: "\ea32";
}
.icon-snap-move:before {
  content: "\ea33";
}
.icon-snap-rotate:before {
  content: "\ea34";
}
.icon-snap-scale:before {
  content: "\ea35";
}
.icon-snap:before {
  content: "\ea36";
}
.icon-spatial-comment:before {
  content: "\ea37";
}
.icon-sphere:before {
  content: "\ea38";
}
.icon-sphere2 .path1:before {
  content: "\ea39";
  color: rgb(255, 255, 255);
}
.icon-sphere2 .path2:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-square-plain:before {
  content: "\ea3b";
}
.icon-ssao:before {
  content: "\ea3c";
}
.icon-star:before {
  content: "\ea3d";
}
.icon-star1:before {
  content: "\ea3e";
}
.icon-star2:before {
  content: "\ea3f";
}
.icon-stop-play:before {
  content: "\ea40";
}
.icon-stop:before {
  content: "\ea41";
}
.icon-swipe:before {
  content: "\ea42";
}
.icon-swipe1:before {
  content: "\ea43";
}
.icon-swipe2:before {
  content: "\ea44";
}
.icon-tablet:before {
  content: "\ea45";
}
.icon-tag:before {
  content: "\ea46";
}
.icon-teapot2 .path1:before {
  content: "\ea47";
  color: rgb(255, 255, 255);
}
.icon-teapot2 .path2:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-teleport-on:before {
  content: "\ea49";
}
.icon-teletport-off:before {
  content: "\ea4a";
}
.icon-text:before {
  content: "\ea4b";
}
.icon-texture1:before {
  content: "\ea4c";
}
.icon-texture2:before {
  content: "\ea4d";
}
.icon-texture3:before {
  content: "\ea4e";
}
.icon-texture4:before {
  content: "\ea4f";
}
.icon-thumbup1:before {
  content: "\ea50";
}
.icon-thumbup2:before {
  content: "\ea51";
}
.icon-timer:before {
  content: "\ea52";
}
.icon-tone-correct:before {
  content: "\ea53";
}
.icon-torus2 .path1:before {
  content: "\ea54";
  color: rgb(255, 255, 255);
}
.icon-torus2 .path2:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-torus2 .path3:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-treasure:before {
  content: "\ea57";
}
.icon-tri2 .path1:before {
  content: "\ea58";
  color: rgb(255, 255, 255);
}
.icon-tri2 .path2:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(129, 126, 133);
}
.icon-tri2 .path3:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(203, 203, 203);
}
.icon-triangle:before {
  content: "\ea5b";
}
.icon-triangle2:before {
  content: "\ea5c";
  color: #fff;
}
.icon-trigger:before {
  content: "\ea5d";
}
.icon-trigger2:before {
  content: "\ea5e";
}
.icon-twitter1:before {
  content: "\ea5f";
}
.icon-twitter2:before {
  content: "\ea60";
}
.icon-twitter3:before {
  content: "\ea61";
}
.icon-underline:before {
  content: "\ea62";
}
.icon-undo:before {
  content: "\ea63";
}
.icon-ungroup:before {
  content: "\ea64";
}
.icon-ungroup2:before {
  content: "\ea65";
}
.icon-unlock:before {
  content: "\ea66";
}
.icon-unlock2:before {
  content: "\ea67";
}
.icon-unloop1:before {
  content: "\ea68";
}
.icon-unrepeat:before {
  content: "\ea69";
}
.icon-up:before {
  content: "\ea6a";
}
.icon-up2:before {
  content: "\ea6b";
}
.icon-updateplayer:before {
  content: "\ea6c";
}
.icon-updatewaypoint:before {
  content: "\ea6d";
}
.icon-upgrade:before {
  content: "\ea6e";
}
.icon-upload:before {
  content: "\ea6f";
}
.icon-url:before {
  content: "\ea70";
}
.icon-user:before {
  content: "\ea71";
}
.icon-verticalScale:before {
  content: "\ea72";
}
.icon-video1:before {
  content: "\ea73";
}
.icon-video2:before {
  content: "\ea74";
}
.icon-video3:before {
  content: "\ea75";
}
.icon-video360:before {
  content: "\ea76";
}
.icon-videoDepth:before {
  content: "\ea77";
}
.icon-view-off:before {
  content: "\ea78";
}
.icon-view:before {
  content: "\ea79";
}
.icon-view2:before {
  content: "\ea7a";
}
.icon-viewAngle:before {
  content: "\ea7b";
}
.icon-viewBack:before {
  content: "\ea7c";
}
.icon-viewFront:before {
  content: "\ea7d";
}
.icon-viewLeft:before {
  content: "\ea7e";
}
.icon-ViewPort:before {
  content: "\ea7f";
}
.icon-viewRight:before {
  content: "\ea80";
}
.icon-voice-record:before {
  content: "\ea81";
}
.icon-volume:before {
  content: "\ea82";
}
.icon-vr:before {
  content: "\ea83";
}
.icon-warning:before {
  content: "\ea84";
}
.icon-watch:before {
  content: "\ea85";
}
.icon-waypoing1:before {
  content: "\ea86";
}
.icon-waypoing2:before {
  content: "\ea87";
}
.icon-waypoint_edit:before {
  content: "\ea88";
}
.icon-waypoint3:before {
  content: "\ea89";
}
.icon-web:before {
  content: "\ea8a";
}
.icon-wechat1:before {
  content: "\ea8b";
}
.icon-wechat2:before {
  content: "\ea8c";
}
.icon-wechat3:before {
  content: "\ea8d";
}
.icon-window-size2:before {
  content: "\ea8e";
}
.icon-windowFull:before {
  content: "\ea8f";
}
.icon-windowPartial:before {
  content: "\ea90";
}
.icon-write:before {
  content: "\ea91";
}
.icon-youtube1:before {
  content: "\ea92";
}
.icon-youtube2:before {
  content: "\ea93";
}
.icon-youtube3:before {
  content: "\ea94";
}
