// /////////////////////////////// Page containers //////////////////////////////////

.page-container {
  width:calc($container-wrapper-width - 100px);
  position: relative;
  padding: 0px 48px;
  margin-left:$nav-width;

  img {
     max-width:100%;
  }
  @include smallS {
      padding:40px 32px;
      margin-left: 0px;
  }

  @include xsmall {
      margin:0px;
      padding-top:56px;
      margin-left: 0px;
  }
}

// ////////////////////
ol {
    padding-left:0px;
    padding-right: 0px;
}

li {
    list-style: none;

    b {
        float:left;
    }
}

.list-style-circle, .list-style-number {
    ol {
        padding-left:20px;
    }
    li:first-of-type {
        list-style-type: none;
        margin-left: -20px;
    }
}
.list-style-circle {
    li {
        list-style-type: square;
    }
}
.list-style-number {
    li {
        list-style-type: decimal;
    }
}

.project-title-logo{
    width:50%;
    min-width:300px;
    object-fit: contain;
}

hr {
    margin-top:50px;
    border-top: 2px solid $color-grey1;
}

.b-indent {
    display: block;
    width: 100%;
}
///////////////  react table /////////////////

.ReactTable {
    border: 1px solid $color-grey1
}

.ReactTable .rt-th, .ReactTable .rt-td {
    white-space:normal;
    padding: 8px;
}
.ReactTable .rt-thead .rt-resizable-header {
    background-color: $color-grey1
}

.ReactTable .rt-thead.-header {
    box-shadow: none;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    padding:8px;
}
