// /////////////////////////////// Page containers //////////////////////////////////

.page-container {
  width:calc($container-wrapper-width - 100px);
  position: relative;
  padding: 0px 45px;
  margin-left:$nav-width;

  img {
     max-width:100%;
  }
  @include smallS {
      padding:40px 30px;
      margin-left: 0px;
  }

  @include xsmall {
      margin:0px;
      padding-top:50px;
      margin-left: 0px;
  }
}

// ////////////////////

li {
    list-style: none;
}
