/////////////////////////////// responsive design for the landing Layout: 5 devices ///////////////////////////////

// predefined break-points
$breakpoint-xsmall:480px;
$breakpoint-small: 736px;
$breakpoint-mid: 1000px;
$breakpoint-large:1280px;

// extra large devices
@mixin xlarge {
  @media (min-width: #{$breakpoint-large}) {
    @content;
  }
}


// large devices
@mixin large {
  @media (min-width: #{$breakpoint-mid}) and (max-width:#{$breakpoint-large - 1px}) {
    @content;
  }
}


// medium devices
@mixin medium {
  @media (min-width: #{$breakpoint-small}) and (max-width:#{$breakpoint-mid - 1px}) {
    @content;
  }
}


// small devices
@mixin small {
  @media (min-width: #{$breakpoint-xsmall}) and (max-width:#{$breakpoint-small - 1px}) {
    @content;
  }
}

// Extra Small devices
@mixin xsmall {
  @media (max-width:#{$breakpoint-xsmall}) {
    @content;
  }
}



//////////////////////////////////// devices and smaller ///////////////////////////////////

// large devices and smaller
@mixin xlargeS {
  @media (max-width:#{$breakpoint-xlarge - 1px}) {
    @content;
  }
}

// large devices and smaller
@mixin largeS {
  @media (max-width:#{$breakpoint-large - 1px}) {
    @content;
  }
}

// medium devices and smaller
@mixin mediumS {
  @media (max-width:#{$breakpoint-mid - 1px}) {
    @content;
  }
}

// small devices and smaller
@mixin smallS {
  @media (max-width:#{$breakpoint-small - 1px}) {
    @content;
  }
}

//////////////////////////////////// devices and larger ///////////////////////////////////


// large devices and bigger
@mixin largeB {
  @media (min-width:#{$breakpoint-large - 1px}) {
    @content;
  }
}

// medium devices and bigger
@mixin mediumB {
  @media (min-width:#{$breakpoint-mid - 1px}) {
    @content;
  }
}

// small devices and bigger
@mixin smallB {
  @media (min-width:#{$breakpoint-small - 1px}) {
    @content;
  }
}

// Xsmall devices and bigger
@mixin xsmallB {
  @media (min-width:#{$breakpoint-xsmall - 1px}) {
    @content;
  }
}
