// typography definition for
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

html {
font-family: 'Roboto', sans-serif;
}


.font-white {
  color:$color-white;
  h1, h2, h3, h4, p, li, span {
    color:$color-white;
  }
}
.font-black {
  color:$color-black;
  h1, h2, h3, h4, p, li, span {
    color:$color-black;
  }
}
.font-grey4 {
  color:$color-grey4;
  h1, h2, h3, h4, p, li, span {
    color:$color-grey4;
  }
}

.font-grey3 {
  color:$color-grey3;
  h1, h2, h3, h4, p, li, span {
    color:$color-grey3;
  }
}

.font-thin {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-med {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/////////////////////   FONT SIZE VARIATION, SAME AS MATERIAL DESIGN  ///////////////////////
h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.body2 {
  font-size: 14px;
}



/////////////////////   FONT WEIGHT  ///////////////////////
h1, h2, h3, h4, p {
  font-weight: normal;
}

/////////////////////   FONT COLOR  ///////////////////////
p, li, span, ul, table {
    color:$color-grey4;
}

b {
  color:$color-black;
}
