// typography definition for
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

html {
font-family: 'Roboto', sans-serif;
}


.font-white {
  color:$color-white;
  h1, h2, h3, h4, p, li {
    color:$color-white;
  }
}
.font-black {
  color:$color-black;
  h1, h2, h3, h4, p, li {
    color:$color-black;
  }
}
.font-grey6 {
  color:$color-grey6;
  h1, h2, h3, h4, p, li {
    color:$color-grey6;
  }
}

.font-grey5 {
  color:$color-grey5;
  h1, h2, h3, h4, p, li {
    color:$color-grey5;
  }
}

.font-thin {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-med {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/////////////////////   FONT SIZE VARIATION, SAME AS MATERIAL DESIGN  ///////////////////////
h1 {
  font-size: 60px;
  line-height: 72px;
}

h2 {
  font-size: 48px;
  line-height: 60px;
}

h3 {
  font-size: 34px;
  line-height: 44px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.body2 {
  font-size: 14px;
  line-height: 20px;
}

li, span, b, table {
    line-height: 24px;
}

/////////////////////   FONT WEIGHT  ///////////////////////
h1, h2, h3, h4, p {
  font-weight: normal;
}

/////////////////////   FONT COLOR  ///////////////////////
p, li, ul, table {
    color:$color-grey6;
}

b {
  color:$color-black;
}
